@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@80,300;100,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

.header {
  margin: 0;
  padding: 3rem 0;
  height: 4rem;
  background-color: #FFFFFF;
}

.header-title {
  margin: 0;
  color: #003049;
  font-size: 48px;
}

.layout {
  width: 80%;
  margin: auto;
}

.intro-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3rem;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 48, 73, 0.2)), to(#FFFFFF)), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 48, 73, 0.1)), to(rgba(255, 255, 255, 0.95))), url("../assets/cleaning-blue-knolling-flatlay.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 48, 73, 0.2), #FFFFFF), linear-gradient(to top, rgba(0, 48, 73, 0.1), rgba(255, 255, 255, 0.95)), url("../assets/cleaning-blue-knolling-flatlay.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.intro-text {
  color: #003049;
  font-size: 40px;
}

.intro-text:nth-child(2) {
  margin: 0 0 2rem 0;
}

.intro-contact-text {
  cursor: pointer;
  color: #003049;
  font-weight: bold;
  background: transparent;
  border: none;
  margin: 30px auto 0;
  display: block;
  font-size: 26px;
  outline: none;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 10px;
}

.intro-contact-text:before {
  content: '';
  border-bottom: 2px solid #003049;
  padding: 0 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.intro-contact-text:hover:before {
  width: 100%;
  padding: 0;
}

.service-icons-wrapper {
  height: 30rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  margin-bottom: 4rem;
}

.service-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #003049;
}

.service-image-wrapper {
  border: 1px solid #003049;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  border-radius: 50%;
}

.service-image {
  width: 100%;
  height: 100%;
  max-width: 5rem;
  max-height: 5rem;
  -webkit-filter: invert(14%) sepia(31%) saturate(3299%) hue-rotate(173deg) brightness(94%) contrast(101%);
          filter: invert(14%) sepia(31%) saturate(3299%) hue-rotate(173deg) brightness(94%) contrast(101%);
}

.service-icon-title {
  font-weight: 600;
  font-size: 20px;
}

.secondary-intro-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 580px 1fr;
      grid-template-columns: 580px 1fr;
  height: 30rem;
}

.secondary-intro-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 0 4rem;
}

.secondary-intro-image {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 48, 73, 0.3)), to(#FFFFFF)), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 48, 73, 0.1)), to(rgba(255, 255, 255, 0.6))), url("../assets/secondary_intro_image_cropped.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 48, 73, 0.3), #FFFFFF), linear-gradient(to top, rgba(0, 48, 73, 0.1), rgba(255, 255, 255, 0.6)), url("../assets/secondary_intro_image_cropped.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  max-width: 580px;
}

.secondary-intro-title {
  color: #003049;
  font-size: 36px;
  margin: 0;
}

.secondary-intro-title:nth-child(2) {
  font-weight: bold;
  margin-bottom: 1rem;
}

.secondary-intro-text {
  color: #003049;
  font-size: 24px;
}

.contact-section-wrapper {
  margin-top: 4rem;
  color: #FFFFFF;
  font-size: 36px;
  background-image: url("../assets/dark_blue_background.png");
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
}

.contact-section-info {
  width: 70%;
  margin: auto;
  padding-left: 10rem;
}

.contact-section-item {
  margin-left: 2rem;
}

.contact-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  width: 70%;
  margin-right: auto;
}

.contact-form-input {
  height: 2rem;
  text-indent: 1rem;
  padding: 5px;
  font-size: 20px;
  color: #003049;
}

.contact-form-input::-webkit-input-placeholder {
  content: " *";
}

.contact-form-input:-ms-input-placeholder {
  content: " *";
}

.contact-form-input::-ms-input-placeholder {
  content: " *";
}

.contact-form-input::placeholder {
  content: " *";
}

.contact-form-input:focus {
  outline: none;
}

.contact-form-message-input {
  height: 15rem;
  padding: 5px;
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  resize: none;
}

.send-button {
  height: 3rem;
  width: 10rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 10px;
  border: 1px solid #003049;
  cursor: pointer;
  background-color: #FFFFFF;
  color: #003049;
  font-size: 20px;
}

.send-button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.footer-wrapper {
  margin: 0;
  background-color: #FFFFFF;
  color: #003049;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.footer-text {
  margin: 0;
  padding: 1rem 0;
}
/*# sourceMappingURL=styles.css.map */